<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Luckiest+Guy" rel="stylesheet">
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" /> 
    <link href="~/Content/SLayout.css" rel="stylesheet" />
</head>
<body>
    <div class="heading">
    <h1>MASH</h1>
    <h2> Find Out Your Future </h2>
        </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
