@using MASH.Models;

@model List<Theme>
@{
    ViewBag.Title = "MashUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<form action="mashUp">*@
@using (Html.BeginForm("Calculate", "Home", FormMethod.Get))
{
<div class="main">
    <div id="Mate" class="box">
        <form id="mateForm">
            <h2> Future Mate</h2><br />
            <input type="text" placeholder="name" required /><br />
            <input type="text" placeholder="name" required /><br />
            <input type="text" placeholder="name" required /><br />
            <input type="text" placeholder="name" required /><br />
        </form>
    </div>

    <div id="Job" class="box">
        <form id="jobForm">
            <h2> Future Job</h2><br />
            <input type="text" placeholder="job" required /><br />
            <input type="text" placeholder="job" required /><br />
            <input type="text" placeholder="job" required /><br />
            <input type="text" placeholder="job" required /><br />
        </form>
    </div>


    <div id="Transportation" class="box">
        <form id="transForm">
            <h2> Future Mode of Transportation</h2><br />
            <input type="text" placeholder="vehicle" required /><br />
            <input type="text" placeholder="vehicle" required /><br />
            <input type="text" placeholder="vehicle" required /><br />
            <input type="text" placeholder="vehicle" required /><br />
        </form>
    </div>

    <div id="Pet" class="box">
        <form id="petForm">
            <h2> Future Pet</h2><br />
            <input type="text" placeholder="pet" required /><br />
            <input type="text" placeholder="pet" required /><br />
            <input type="text" placeholder="pet" required /><br />
            <input type="text" placeholder="pet" required /><br />
        </form>
    </div>

    <div id="Kids" class="box">
        <form id="kidForm">
            <h2> How Many Kids</h2><br />
            <input type="text" placeholder="number" required /><br />
            <input type="text" placeholder="number" required /><br />
            <input type="text" placeholder="number" required /><br />
            <input type="text" placeholder="number" required /><br />
        </form>
    </div>

    <div id="House" class="box">
        <h2> Housing </h2><br />
        <h4> Mansion </h4>
        <h4> Apartment </h4>
        <h4> Shack </h4>
        <h4> House </h4>
    </div>

    <div id="number" class="box">
        <form id="numberForm">
            <h2> Pick a number to calculate your future. </h2><br />
            <label for="numberDropDown">Pick a Number</label>
            <select id="iterator" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>

            <input type="submit" value="See Your Future" style="border-radius: 7px; border: 2px solid #000000;" />
        </div>
    </div>
}


